<h2>Student Info</h2>
<p>Name: {{ student.user.username }}</p>
<p>Room: {{ student.room_no }}</p>
<p>Block: {{ student.hostel_block }}</p>

<hr>

<h2>Tomorrow's Menu</h2>
<p>Breakfast: {{ menu.breakfast }}</p>
<p>Lunch: {{ menu.lunch }}</p>
<p>Dinner: {{ menu.dinner }}</p>

{% if leave_blocked %}
    <p style="color:red;">
        You are on approved leave tomorrow. Food selection is locked.
    </p>
{% else %}

    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <h3>Select Food</h3>

        <h3>Breakfast</h3>
        <input type="radio" name="breakfast" value="yes" required> Opt-in
        <input type="radio" name="breakfast" value="no"> Opt-out

        <h3>Lunch</h3>
        <input type="radio" name="lunch" value="yes" required> Opt-in
        <input type="radio" name="lunch" value="no"> Opt-out

        <h3>Dinner</h3>
        <input type="radio" name="dinner" value="yes" required> Opt-in
        <input type="radio" name="dinner" value="no"> Opt-out

        <br><br>
        <button type="submit">Proceed to Attendance</button>
    </form>

{% endif %}
