<h2>Pending Leave Requests</h2>

{% if leave_requests %}
    <table border="1" cellpadding="10">
        <tr>
             <th>Student</th>
             <th>From Date</th>
             <th>To Date</th>
             <th>Reason</th>
             <th>Action</th>
        </tr>


        {% for leave in leave_requests %}
        <tr>
            <td>{{ leave.student.user.username }}</td>
            <td>{{ leave.from_date }}</td>
            <td>{{ leave.to_date }}</td>
            <td>{{ leave.reason }}</td>
            <td>
                <a href="{% url 'approve_leave' leave.id %}">Approve</a> |
                <a href="{% url 'reject_leave' leave.id %}">Reject</a>
            </td>
        </tr>

        {% endfor %}
    </table>
{% else %}
    <p>No pending leave requests.</p>
{% endif %}
